#Learn more about Jenkins and JENKINS_HOME directory for which this file is intended.
#  http://jenkins-ci.org/
#  https://wiki.jenkins-ci.org/display/JENKINS/Administering+Jenkins

#ignore all JENKINS_HOME except jobs directory, root xml config, and .gitignore file
/*
!/jobs
!/.gitignore
!/*.xml

#ignore all files in jobs subdirectories except for folders
#note: git doesn't track folders, only file content
jobs/**
!jobs/**/

#uncomment the following line to save next build numbers with config
#!jobs/**/nextBuildNumber

#exclude only config.xml files in repository subdirectories
!config.xml

#don't track workspaces (when users build on the master)
jobs/**/*workspace

#as a result only settings and job config.xml files in JENKINS_HOME will be tracked by git

# Created by https://www.toptal.com/developers/gitignore/api/osx
# Edit at https://www.toptal.com/developers/gitignore?templates=osx

### OSX ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# End of https://www.toptal.com/developers/gitignore/api/osx
